* {
    background-color: #1A1A1AFF;
    foreground: #FFFFFFFF;
    border-color: transparent;
    selected-background: #4A4A4AFF;
    selected-foreground: #FFFFFFFF;
    urgent-background: #FF0000FF;

    margin: 0;
    border: 0;
    spacing: 0;
    padding: 2px 8px;
    element-padding: 1px;

    text-color: @foreground;
    highlight: none;
    dynamic: false;
}
